/*! Condensed Bootstrap Grid | MIT License | github.com/josephfusco/condensed-bootstrap-grid */

// Generated string for classname: ($min-screen-width, $container-width)
$cbg__breakpoints: (
	xs: (0px, 100%),
	sm: (768px, 750px),
	md: (992px, 970px),
	lg: (1200px, 1170px)
) !default;

$cbg__total-grid-cols       : 12                !default;
$cbg__gutter                : 15px              !default;
$cbg__namespace             : ''                !default;
$cbg__name--col             : 'col'             !default;
$cbg__name--pull            : 'pull'            !default;
$cbg__name--push            : 'push'            !default;
$cbg__name--offset          : 'offset'          !default;
$cbg__name--clearfix        : 'clearfix'        !default;
$cbg__name--container       : 'container'       !default;
$cbg__name--container-fluid : 'container-fluid' !default;

%cbg__gutter {
	padding-right: $cbg__gutter;
	padding-left: $cbg__gutter;
}

.#{$cbg__namespace}#{$cbg__name--clearfix} {
	&:before, &:after {
		display: table;
		content: '';
	}
	&:after {
		clear: both;
	}
}

.#{$cbg__namespace}#{$cbg__name--container},
.#{$cbg__namespace}#{$cbg__name--container-fluid} {
	margin-right: auto;
	margin-left: auto;
	@extend .#{$cbg__namespace}#{$cbg__name--clearfix};
	@extend %cbg__gutter;
}

.#{$cbg__namespace}row {
	margin-right: -$cbg__gutter;
	margin-left: -$cbg__gutter;
	@extend .#{$cbg__namespace}#{$cbg__name--clearfix};
}

[class*="#{$cbg__namespace}#{$cbg__name--col}-"] {
	box-sizing: border-box;
	position: relative;
	min-height: 1px;
	@extend %cbg__gutter;
}

@mixin device-size($size) {
	@for $i from $cbg__total-grid-cols through 1 {
		$width : percentage($i / $cbg__total-grid-cols);

		.#{$cbg__namespace}#{$cbg__name--col}-#{$size}-#{$i} {
			float: left;
			width: $width;
		}
		.#{$cbg__namespace}#{$cbg__name--col}-#{$size}-#{$cbg__name--pull}-#{$i} {
			right: $width;
		}
		.#{$cbg__namespace}#{$cbg__name--col}-#{$size}-#{$cbg__name--push}-#{$i} {
			left: $width;
		}
		.#{$cbg__namespace}#{$cbg__name--col}-#{$size}-#{$cbg__name--offset}-#{$i} {
			margin-left: $width;
		}
	}
}

@each $size, $width in $cbg__breakpoints {
	$min-screen-width : nth($width, 1);
	$container-width  : nth($width, 2);

	@if $min-screen-width == 0px {
		@include device-size($size);
	} @else {
		@media (min-width: $min-screen-width) {
			.#{$cbg__namespace}#{$cbg__name--container} {
				width: $container-width;
			}
			@include device-size($size);
		}
	}
}
